<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link src="src/main/resources/static/Style.css" th:href="@{Style.css}" rel="stylesheet" />
    <title>Title</title>
</head>
<body>
<form
       action="/addPokemon"
      method="post">
    <div class="container">
        <label>Pokemon Name</label>
        <input type="text" placeholder="Enter Pokemon Name" name="name" required>

        <label>Pokemon Speed</label>
        <input type="text" placeholder="Enter Pokemon Speed" name="speed" required>

        <label>Pokemon Special Defence</label>
        <input type="text" placeholder="Enter Pokemon Special Defence" name="special_defence">

        <label>Pokemon Special Attack</label>
        <input type="text" placeholder="Enter Pokemon Special Attack" name="special_attack">

        <label>Pokemon defence</label>
        <input type="text" placeholder="Enter Pokemon defence" name="defence" required>

        <label>Pokemon attack</label>
        <input type="text" placeholder="Enter Pokemon attack" name="attack" required>

        <label>Pokemon hp</label>
        <input type="text" placeholder="Enter Pokemon hp" name="hp" required>

        <label>Pokemon Primary Type</label>
        <input type="text" placeholder="Enter Pokemon Primary Type" name="primary_type">

        <label>Pokemon Secondary Type</label>
        <input type="text" placeholder="Enter Pokemon Secondary Type" name="secondary_type">

        <button type="submit">Create Pokemon</button>
        <button><a href="findall">Tilbage til oversigt</a></button>
    </div>
</form>
</body>
</html>