<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link src="src/main/resources/static/Style.css" th:href="@{Style.css}" rel="stylesheet" />
    <title>Mo's Pokedex</title>
</head>
<body>
<h2 class="indexTitle">Mo's Pokedex</h2>

<form action="findall" method="post">
    <div class="imgcontainer">
        <img th:src="@{img_avatar2.png}" alt="Avatar" class="avatar" src="../static/img_avatar2.png">
    </div>

    <div class="container">
        <label><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>

        <label><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>

        <button type="submit">Login</button>
        <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
        <button type="button" class="cancelbtn">Cancel</button>
        <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
</form>

</body>
</html>